* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background: linear-gradient(77deg, rgb(143, 157, 165) 0%, rgb(119, 156, 184) 58%,rgb(153, 195, 223) 90%);
    padding: 1rem;
  }
  
  header {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  h1 {
    font-size: 1.5rem;
    color: #333;
  }
  
  .category {
    background: linear-gradient(77deg, rgb(9, 36, 53) 0%, rgb(8, 29, 45) 58%,rgb(8, 17, 23) 90%);
    padding: 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 2rem;
  }
  
  .category h2 {
    font-size: 1.5rem;
    color: #a5d2e6;
    margin-bottom: 1rem;
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 0.5fr));
    gap: 1rem;
  }
  
  .card {
    background: linear-gradient(77deg, rgb(22, 50, 69) 0%, rgb(92, 158, 208) 58%, rgb(81, 146, 189) 90%);
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .card img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .card h3 {
    font-size: 1rem;
    color: #333;
    margin: 1rem 0;
  }
  
  .card .price {
    font-weight: bold;
    color: #333;
  }
  
  .card .discount {
    color: red;
    margin-left: 0.5rem;
  }
  
 

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  /* position: absolute; */
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  /* position: absolute; */
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
